<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        form {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            width: 300px;
        }

        label {
            display: block;
            margin-bottom: 5px;
        }

        input[type="text"],
        input[type="email"],
        input[type="password"] {
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }

        input[type="checkbox"] {
            margin-right: 5px;
        }

        p {
            margin-top: 10px;
            font-size: 14px;
        }

        button {
            background-color: dodgerblue;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
        }

        button:hover {
            background-color: #0073e6;
        }

        a {
            color: dodgerblue;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
  
    <form action="/signup" method="post">
        <label>Name:</label>
        <input type="text" name="name" placeholder="Enter name" required>
        <label>Email:</label>
        <input type="email" name="email" placeholder="Enter Email" required>
        <label>Password:</label>
        <input type="password" name="password" placeholder="Enter Password" required>
        <label>Confirm Password:</label>
        <input type="password" name="Confirmpassword" placeholder="Enter password" required>
        <label>
            
        <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
        <button type="submit" class="signupbtn">Sign Up</button>
    </form>
</body>
</html>
